In [1]:
import pandas as pd

In [2]:
"""input"""
account = ["23MXXXXXX"]
password = ["XYZXYZXYZ"]
""""""""""""

id = account + password

df_id = pd.DataFrame(id,index=["account","password"],columns=["info"])
df_id

               info
account   23MXXXXXX
password  XYZXYZXYZ

In [3]:
"""input"""
matrix = [
        ['h','e','l','l','o','w','o','r','l','d'],
        ['h','e','l','l','o','w','o','r','l','d'],
        ['h','e','l','l','o','w','o','r','l','d'],
        ['h','e','l','l','o','w','o','r','l','d'],
        ['h','e','l','l','o','w','o','r','l','d'],
        ['h','e','l','l','o','w','o','r','l','d'],
        ['h','e','l','l','o','w','o','r','l','d'],
        ]
""""""""""""

df_matrix = pd.DataFrame(matrix,
                        index=["1","2","3","4","5","6","7"],
                        columns=["A","B","C","D","E","F","G","H","I","J"])

df_matrix

   A  B  C  D  E  F  G  H  I  J
1  h  e  l  l  o  w  o  r  l  d
2  h  e  l  l  o  w  o  r  l  d
3  h  e  l  l  o  w  o  r  l  d
4  h  e  l  l  o  w  o  r  l  d
5  h  e  l  l  o  w  o  r  l  d
6  h  e  l  l  o  w  o  r  l  d
7  h  e  l  l  o  w  o  r  l  d

In [4]:
df_id.to_csv("student_info/student_id.csv")
df_matrix.to_csv("student_info/student_matrix.csv")